@media only screen and (max-width: 768px) {
	.titleDashboard{
		text-align: center;
	}
	.formulario{
		max-width: 70%;
	}
	.w3-bar-block{
		width: 100%;
	}
	.w3-card-4{
		right: 4em;
		width: 100%;
	}
}